.cont{
    position:fixed;
    width:100%;
    padding:1em 1em 0.5em 1em;
    background-color: #212121;
    z-index: 10;
   
    
}
.txtbuscar{
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-top:10px;
    align-self: center;
    width: 18em;
    border-color: #F1C40F;
    
    
    z-index: 1000;
}