.viewPerfil{
    padding: 20px;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    list-style: none;
    flex: 1 1;
    width: 100%;
     font-size: 24px;
      
    }

    .viewPerfil .Nombre{
        left:20px;
        text-align: left;
        color:white;
        position: relative;
        top: 10px;
    }
    .viewPerfil .Usuario{
        top: 10px;
        left:20px;
        text-align: left;
        color: white;
        position: relative;
    }
    .viewPerfil .Pais{
        left:20px;
        text-align: left;
        color:white;
        position: relative;
        top: 10px;
    }
 
    .viewPerfil img{
      height: 90px;
      border-radius: 50%;
      float: left;
      position: relative;
    }
    .equis{
        background-color: tomato;
        border-radius: 50%;
        float: right;
        position: relative;
        width: 25px;
    }
   .ediper{
       background-color: teal;
       border-radius: 20px;
       text-align: center;
       width: 30%;
       position: relative;
       margin-left: 20px;
   }